@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url(/fonts/GILROY-REGULAR.TTF);
}
@font-face {
  font-family: "Playfair Display SC";
  src: url(/fonts/PlayfairDisplaySC-Bold.ttf);
}
@font-face {
  font-family: "Gilroy2";
  src: url(/fonts/GILROY-MEDIUM.TTF);
}
@font-face {
  font-family: "Playfair Display";
  src: url(/fonts/PlayfairDisplaySC-Black.ttf);
}
@font-face {
  font-family: "Gilroythin";
  src: url(/fonts/GILROY-THIN.TTF);
}
@font-face {
  font-family: "Gilroymed";
  src: url(/fonts/GILROY-MEDIUM.TTF);
}
@font-face {
  font-family: "Playfair";
  src: url(/fonts/PlayfairDisplaySC-Regular.ttf);
}
@font-face {
  font-family: "Playfair6";
  src: url(/fonts/PlayfairDisplaySC-Italic.ttf);
}
@font-face {
  font-family: "Playfair3";
  src: url(/fonts/PlayfairDisplaySC-BoldItalic.ttf);
}
@font-face {
  font-family: "Playfair4";
  src: url(/fonts/PlayfairDisplaySC-BlackItalic.ttf);
}
@font-face {
  font-family: "Playfair5";
  src: url(/fonts/PlayfairDisplaySC-Black.ttf);
}
body {
  margin: 0;
  overflow-x: hidden;
  max-width: 1920px;
  width: 100%;
}

.header {
  position: absolute;
  font-family: "Gilroy";
  width: 100%;
  height: 250px;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: raw;
  color: #fff;
  z-index: 1;
}
.header__left {
  padding-left: 20px;
  width: 350px;
  height: 209.9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__left img {
  width: 250px;
  margin-top: 5px;
}
.header__left .about {
  margin-left: 2px;
}
.header__left .about p {
  font-family: "Gilroy";
  font-size: 18px;
  margin: 9px 0px;
}
.header__right {
  width: 300px;
  display: flex;
  position: relative;
  justify-content: space-between;
  position: relative;
}
.header__right .menu {
  position: absolute;
  right: 1.4%;
  top: 2%;
}
.header__right .menu h3 {
  font-size: 20px;
}
.header__right .button {
  width: 19px;
  height: 2px;
  background-color: orange;
  position: absolute;
  right: 26.6%;
  top: 6%;
}
.header__right .button span {
  width: 22px;
  height: 2.7px;
  background-color: orange;
  border: none;
}
.header__right .button span::before {
  content: "";
  width: 100%;
  height: 2.7px;
  background-color: orange;
  display: block;
  position: absolute;
  top: 250%;
}
.header__right .contacts {
  position: absolute;
  bottom: 58%;
  right: 1.7%;
}
.header__right .contacts p:first-child {
  font-size: 29px;
  position: relative;
}
.header__right .contacts p:last-child {
  position: absolute;
  right: 1.7%;
  font-size: 14px;
  top: 108%;
}

.main {
  width: 100vw;
}
.main .line {
  width: 480px;
  height: 108.5vh;
  border-right: 1px solid #fff;
  position: absolute;
  opacity: 0.4;
}
.main .line::after {
  content: "";
  width: 480px;
  height: 108.5vh;
  border-right: 1px solid #fff;
  position: absolute;
  display: inline-block;
  margin-left: 480px;
}
.main .line2 {
  width: 480px;
  height: 108.5vh;
  border-right: 1px solid #fff;
  position: absolute;
  right: 24.3%;
}
.main .screen__one {
  background-image: url("/images/photos/Прямоугольник 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 108.5vh;
  padding-top: 364px;
  display: flex;
  flex-direction: column;
}
.main .screen__one .dark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 108.5vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
}
.main .screen__one__description {
  color: #fff;
  width: 660px;
  height: 310px;
  font-size: 35.7px;
  font-family: "Playfair Display SC";
  padding-left: 49px;
  position: relative;
}
.main .screen__one__description h1:nth-child(2) {
  position: absolute;
  top: 28%;
}
.main .screen__one__description h1:nth-child(3) {
  position: absolute;
  bottom: 14%;
}
.main .screen__one__bottom {
  color: #fff;
  margin-top: 236.3px;
  height: 58px;
  padding-left: 49px;
  position: relative;
}
.main .screen__one__bottom__down p {
  color: #EFB256;
  position: absolute;
  bottom: 55%;
  font-family: "Gilroy2";
  font-size: 24px;
}
.main .screen__one__bottom__down::after {
  content: url("/images/icons/Сгруппировать 16.png");
  position: absolute;
  display: block;
  bottom: 0;
  left: 3.4%;
}
.main .screen__one__bottom__projects {
  font-size: 22px;
  font-family: "Gilroy";
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: raw;
  margin-left: 620px;
}
.main .screen__one__bottom__projects span {
  margin-top: 20px;
}
.main .screen__one__bottom__projects span:nth-child(2) {
  margin-top: 20px;
  margin-left: 218px;
}
.main .screen__one__bottom__projects span:nth-child(3) {
  margin-top: 20px;
  margin-left: 327px;
}
.main .screen__two {
  width: 100vw;
  height: 299.5vh;
  background-image: url("/images/photos/Сгруппировать 1635.png");
  position: relative;
}
.main .screen__two .line {
  width: 480px;
  height: 299.5vh;
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  position: absolute;
  opacity: 0.4;
  z-index: 100;
}
.main .screen__two .line::after {
  content: "";
  width: 480px;
  height: 299.5vh;
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  position: absolute;
  display: inline-block;
  margin-left: 480px;
}
.main .screen__two .line2 {
  width: 490px;
  height: 299.5vh;
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  position: absolute;
  right: 24.93%;
}
.main .screen__two .line3 {
  width: 480px;
  height: 299.5vh;
  border-right: 1px solid rgba(128, 128, 128, 0.1);
  position: absolute;
  left: -15.5%;
}
.main .screen__two .line3::before {
  width: 480px;
  height: 299.5vh;
  border-right: 1px solid rgba(246, 0, 0, 0.1);
  position: absolute;
  display: inline-block;
  left: 10%;
  background-color: red;
}
.main .screen__two .line4 {
  width: 480px;
  height: 299.5vh;
  border-right: 1px solid rgba(128, 128, 128, 0.1);
  position: absolute;
  right: 9.3%;
}
.main .screen__two .line4::after {
  width: 480px;
  height: 299.5vh;
  border-right: 1px solid rgba(128, 128, 128, 0.1);
  position: absolute;
  right: 30%;
}
.main .screen__two__border {
  width: 1346px;
  margin: auto;
  height: 299.5vh;
  position: relative;
}
.main .screen__two__border__hugenumber {
  width: 899px;
  height: 581px;
  position: absolute;
  margin-top: 181px;
  display: flex;
}
.main .screen__two__border__hugenumber .number {
  width: 190px;
  height: 100%;
  background-color: #EFB256;
  color: #fff;
  overflow: hidden;
  align-items: center;
  position: relative;
  background-image: url("/images/photos/Вычитание 2.png");
  background-position-y: 120px;
  background-repeat: no-repeat;
}
.main .screen__two__border__hugenumber .right {
  font-family: "Gilroy";
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 122px;
  padding-left: 56px;
  position: relative;
}
.main .screen__two__border__hugenumber .right h3 {
  font-size: 21px;
  letter-spacing: 1px;
  color: #EFB256;
}
.main .screen__two__border__hugenumber .right h2 {
  position: absolute;
  color: #000;
  font-size: 50.4px;
  top: 29%;
  font-family: "Playfair Display ";
}
.main .screen__two__border__hugenumber .right h2 p {
  position: absolute;
  top: 80%;
  font-family: "Playfair Display ";
  display: flex;
}
.main .screen__two__border__hugenumber .right h2 p span {
  margin-left: 16px;
}
.main .screen__two__border__hugenumber .right p:nth-child(3) {
  color: grey;
  margin-top: 165.5px;
  font-size: 20px;
}
.main .screen__two__border__kitchen {
  position: absolute;
  width: 1185px;
  height: 436px;
  top: 24%;
  right: 0;
  display: flex;
}
.main .screen__two__border__kitchen .image {
  width: 179%;
  background-image: url("/images/photos/Прямоугольник 1.png");
  background-position: center;
  background-repeat: no-repeat;
}
.main .screen__two__border__kitchen .description {
  font-family: "Gilroy";
  width: 98%;
  display: flex;
  font-size: 19.9px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main .screen__two__border__kitchen .description__text {
  margin-left: 58px;
  margin-top: 75px;
}
.main .screen__two__border__kitchen .description__text p {
  color: grey;
}
.main .screen__two__border__kitchen .description__text h3 {
  margin-top: 35.5px;
  font-size: 18.3px;
  letter-spacing: 1px;
  color: #EFB256;
}
.main .screen__two__border__count {
  width: 100%;
  height: 370px;
  position: absolute;
  margin-top: 80rem;
  display: flex;
  justify-content: space-between;
}
.main .screen__two__border__count .item {
  font-family: "Gilroy";
  width: 20.9rem;
  height: 100%;
  background-image: url("/images/icons/14.png");
  background-repeat: no-repeat;
  background-size: 16rem;
  background-position-y: -38px;
  background-position-x: 1.5px;
  position: relative;
}
.main .screen__two__border__count .item span {
  position: absolute;
  transform: rotate(-90deg);
  margin-left: 13.5rem;
  bottom: 52%;
  color: #EFB256;
  font-size: 32px;
}
.main .screen__two__border__count .item p {
  color: grey;
  margin-top: 78%;
  font-size: 20px;
  margin-left: 6.7rem;
}
.main .screen__two__border__count .seven {
  background-image: url("/images/icons/7.png");
  background-repeat: no-repeat;
  background-size: 8.1rem;
  background-position-y: -38px;
  background-position-x: 5.3em;
}
.main .screen__two__border__count .seven span {
  position: absolute;
  transform: rotate(-90deg);
  margin-left: 12.3rem;
  bottom: 46%;
  font-size: 32px;
  color: #EFB256;
}
.main .screen__two__border__count .seven p {
  margin-top: 77.9%;
  font-size: 20.5px;
  margin-left: 5.7rem;
}
.main .screen__two__border__count .forteen p {
  margin-left: 9px;
}
.main .screen__two__border__count .nine {
  background-image: url("/images/icons/9.png");
  background-repeat: no-repeat;
  background-size: 9.3rem;
  background-position-y: -38px;
  background-position-x: 6.3em;
}
.main .screen__two__border__count .nine span {
  position: absolute;
  transform: rotate(-90deg);
  margin-left: 13.9rem;
  bottom: 50%;
  font-size: 32px;
  color: #EFB256;
}
.main .screen__two__border__count .three {
  background-image: url("/images/icons/3.png");
  background-repeat: no-repeat;
  background-size: 9.3rem;
  background-position-y: -41px;
  background-position-x: 5.7em;
}
.main .screen__two__border__count .three span {
  position: absolute;
  transform: rotate(-90deg);
  margin-left: 10.5rem;
  bottom: 60%;
  font-size: 32px;
  color: #EFB256;
}
.main .screen__two__border__count .three p {
  margin-top: 78%;
  font-size: 20px;
  margin-left: 6.3rem;
  line-height: 25px;
}
.main .screen__two__border__secondhugenumber {
  width: 100%;
  height: 66.2rem;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.main .screen__two__border__secondhugenumber .number__two__flex {
  display: flex;
}
.main .screen__two__border__secondhugenumber .number__two .number {
  background-image: url("/images/icons/Вычитание 4.png");
  width: 190px;
  height: 581px;
  background-color: #EFB256;
  color: #fff;
  overflow: hidden;
  align-items: center;
  position: relative;
  background-position-y: 120px;
  background-repeat: no-repeat;
}
.main .screen__two__border__secondhugenumber .number__two__works {
  width: 700px;
  height: 581px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main .screen__two__border__secondhugenumber .number__two__works__inner {
  width: 100%;
  height: 350px;
  padding-top: 5px;
  padding-left: 56px;
}
.main .screen__two__border__secondhugenumber .number__two__works__inner h3 {
  font-family: "Gilroythin";
  margin-left: 1px;
  font-size: 21.9px;
  color: #EFB256;
}
.main .screen__two__border__secondhugenumber .number__two__works__inner h2 {
  color: #000;
  margin-top: 24px;
  font-size: 45px;
  letter-spacing: 2.8px;
}
.main .screen__two__border__secondhugenumber .number__two__works__inner p {
  color: grey;
  font-family: "Gilroy";
  margin-top: 35px;
  font-size: 20.1px;
}
.main .screen__two__border__secondhugenumber__about .portfolio {
  width: 350px;
  height: 400px;
  position: absolute;
  left: 12.5%;
  top: 50%;
  font-family: "Gilroy";
}
.main .screen__two__border__secondhugenumber__about .portfolio p {
  line-height: 22px;
  font-size: 20px;
  margin-top: 5.9px;
}
.main .screen__two__border__secondhugenumber__about .portfolio h3 {
  margin-top: 17px;
  letter-spacing: 0.5px;
  color: #EFB256;
}
.main .screen__two__border__secondhugenumber__about .portfolio .btns {
  display: flex;
  padding: 0px 7px;
}
.main .screen__two__border__secondhugenumber__about .portfolio .btns .buttons {
  width: 69px;
  height: 70px;
  background-image: url(/images/icons/back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  margin: 190px 3px;
}
.main .screen__two__border__secondhugenumber__about .portfolio .btns .right {
  background-image: url(/images/icons/right-arrow1.png);
}
.main .screen__two__border__secondhugenumber__about .portfolio .btns .round {
  margin-top: 205px;
  width: 50%;
  height: 45px;
  display: flex;
  flex-direction: raw;
  display: flex;
  flex-direction: raw;
  align-items: center;
}
.main .screen__two__border__secondhugenumber__about .portfolio .btns .round .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.7;
  background-color: #000;
  margin: 0px 10px;
  margin-left: 22px;
}
.main .screen__two__border__secondhugenumber__about .kitchen__image2 {
  position: absolute;
  background-color: palegreen;
  right: 0%;
  width: 48rem;
  height: 434px;
  background-image: url("/images/photos/Прямоугольник 1.png");
  background-position: center;
  background-repeat: no-repeat;
  bottom: 12%;
}
.main .screen__three {
  position: relative;
  width: 100vw;
  height: 88.5vh;
  background-color: red;
  display: flex;
  background-image: url("/images/photos/Прямоугольник 14.png");
  justify-content: center;
  align-items: center;
}
.main .screen__three .dark2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 88.5vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
}
.main .screen__three__content {
  z-index: 1;
  width: 72%;
  height: 500px;
}
.main .screen__three__content__top {
  width: 60%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.main .screen__three__content__top h3 {
  font-family: Gilroy;
  margin-top: 22.8px;
  font-size: 20.5px;
  letter-spacing: 1px;
  color: #EFB256;
}
.main .screen__three__content__top h2 {
  font-family: "Playfair Display ";
  font-size: 50px;
  margin-bottom: 1rem;
}
.main .screen__three__content__top p {
  font-family: Gilroy2;
  font-size: 20px;
  margin-bottom: 15px;
}
.main .screen__three__content__bottom {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: raw;
  align-items: center;
  margin-top: 25px;
}
.main .screen__three__content__bottom .Login {
  width: 100%;
  height: 40%;
  align-items: center;
}
.main .screen__three__content__bottom .Login input {
  width: 337px;
  margin-right: 7px;
  height: 79px;
  padding-left: 20px;
  padding-top: 6.8px;
  font-size: 20px;
  font-family: "Gilroy";
  outline: none;
  font-weight: 600;
}
.main .screen__three__content__bottom .Login input:nth-child(4) {
  font-family: "Gilroymed";
  width: 337px;
  margin-right: 0px;
  background-color: #EFB256;
  color: #fff;
  font-size: 22px;
  padding-right: 23px;
  height: 79px;
  outline: none;
}
.main .screen__three__content__bottom .Login p {
  margin-top: 15.7px;
  font-size: 18px;
  font-family: Gilroy;
  color: grey;
}
.main .screen__fourth {
  background-image: url("/images/photos/Сгруппировать 1635.png");
  height: 300vh;
  background-position-x: right;
}
.main .screen__fourth__blog {
  width: 1510px;
  height: 120vh;
  margin: auto;
  position: relative;
}
.main .screen__fourth__blog__hugenumber {
  display: flex;
  flex-direction: raw;
  width: 100%;
  height: 52%;
  margin-top: 130px;
}
.main .screen__fourth__blog__hugenumber__left {
  width: 190px;
  height: 100%;
  background-color: #EFB256;
  color: #fff;
  overflow: hidden;
  align-items: center;
  position: relative;
  background-image: url("/images/photos/Вычитание 6.png");
  background-position-y: 120px;
  background-repeat: no-repeat;
}
.main .screen__fourth__blog__hugenumber__right {
  display: flex;
  align-items: center;
}
.main .screen__fourth__blog__hugenumber__right__inner {
  height: 500px;
  width: 900px;
}
.main .screen__fourth__blog__hugenumber__right__inner h3 {
  margin-top: 62px;
  font-family: "Gilroy";
  font-size: 20px;
  margin-left: 114px;
  letter-spacing: 1.3px;
}
.main .screen__fourth__blog__hugenumber__right__inner h2 {
  font-size: 48px;
  margin-top: 23.5px;
  letter-spacing: 1px;
  margin-left: 113px;
}
.main .screen__fourth__blog__hugenumber__right__inner p {
  font-size: 19.5px;
  font-family: Gilroy;
  margin-left: 114px;
  margin-top: 30px;
  line-height: 26px;
}
.main .screen__fourth__blog__hugenumber .collage {
  width: 733.42px;
  height: 387.9px;
  background-image: url("/images/photos/Изображение 2.png");
  background-position: center;
  position: absolute;
  bottom: 12.2%;
  left: 18.6%;
}
.main .screen__fourth__blog__hugenumber .collage:nth-child(3) {
  width: 733.42px;
  height: 387.9px;
  background-image: url("/images/photos/Изображение 3.png");
  position: absolute;
  bottom: 17.5%;
  left: 35.5%;
}
.main .screen__fourth__blog__hugenumber .collage:nth-child(4) {
  width: 733.42px;
  height: 390.9px;
  background-image: url("/images/photos/Изображение 4.png");
  position: absolute;
  bottom: 23.1%;
  left: 52.3%;
  z-index: -1;
}
.main .screen__fourth__news {
  width: 100vw;
  height: 80vh;
}
.main .screen__fourth__news h2 {
  font-family: "Playfair3 ";
  font-size: 48px;
  margin-left: 210px;
  letter-spacing: 1px;
}
.main .screen__fourth__news__interiers {
  width: 100%;
  height: 65%;
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 23px;
  padding: 0px 209px;
  font-family: "Gilroy";
}
.main .screen__fourth__news__interiers .inter {
  font-family: "Gilroythin";
  width: 504px;
  height: 452px;
  margin-top: 23px;
}
.main .screen__fourth__news__interiers .inter .bcg {
  width: 100%;
  height: 64.5%;
  background-image: url("/images/photos/Прямоугольник 10.png");
  background-position: center;
  background-size: cover;
}
.main .screen__fourth__news__interiers .inter .second {
  background-image: url("/images/photos/Прямоугольник 11.png");
  background-size: cover;
}
.main .screen__fourth__news__interiers .inter .third {
  background-image: url("/images/photos/Прямоугольник 12.png");
  background-size: cover;
}
.main .screen__fourth__news__interiers .inter h4 {
  margin-top: 19px;
  font-size: 22px;
  letter-spacing: 0.9px;
}
.main .screen__fourth__news__interiers .inter p {
  font-weight: 600;
  font-size: 15.5px;
  margin-top: 11.8px;
}
.main .screen__fourth__news__interiers .inter p span {
  margin-left: 5px;
  color: #EFB256;
}
.main .screen__fourth__news h3 {
  font-family: Gilroy;
  padding: 58px;
  letter-spacing: 0.5px;
  margin-left: 152px;
  color: #EFB256;
}
.main .screen__fourth__location {
  width: 100vw;
  height: 115.5vh;
  margin-top: 85px;
  position: relative;
}
.main .screen__fourth__location__hugenumber {
  width: 910px;
  height: 581px;
  position: absolute;
  display: flex;
  margin-left: 210px;
}
.main .screen__fourth__location__hugenumber__left {
  width: 190px;
  height: 100%;
  background-color: #EFB256;
  color: #fff;
  overflow: hidden;
  align-items: center;
  position: relative;
  background-image: url("/images/photos/Вычитание 8.png");
  background-position-y: 120px;
  background-repeat: no-repeat;
}
.main .screen__fourth__location__hugenumber__right {
  font-family: "Gilroy";
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 112px;
  position: relative;
}
.main .screen__fourth__location__hugenumber__right h3 {
  font-size: 21px;
  letter-spacing: 1px;
  color: #EFB256;
}
.main .screen__fourth__location__hugenumber__right h2 {
  position: absolute;
  color: #000;
  font-size: 39px;
  top: 25.2%;
  line-height: 52px;
  font-family: "Playfair5";
  margin-left: 3px;
}
.main .screen__fourth__location__hugenumber__right h2 p {
  position: absolute;
  top: 80%;
  font-family: "Playfair Display ";
  display: flex;
}
.main .screen__fourth__location__hugenumber__right h2 p span {
  margin-left: 16px;
}
.main .screen__fourth__location__hugenumber__right p:nth-child(3) {
  color: grey;
  margin-top: 165.5px;
  font-size: 20px;
  line-height: 20px;
}
.main .screen__fourth__location__bottom {
  width: 80%;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}
.main .screen__fourth__location__bottom__left {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 408px;
  font-size: 20px;
}
.main .screen__fourth__location__bottom__left__inner {
  width: 250px;
  font-family: Gilroy;
}
.main .screen__fourth__location__bottom__left__inner a {
  color: black;
}
.main .screen__fourth__location__bottom__left__inner .contact {
  margin-top: 9%;
  height: 140px;
  display: flex;
  flex-direction: column;
}
.main .screen__fourth__location__bottom__left__inner .contact p {
  margin-top: 11px;
  font-size: 20px;
}
.main .screen__fourth__location__bottom__left__inner .contact a:nth-child(2) {
  font-size: 23px;
  margin-top: 16px;
}
.main .screen__fourth__location__bottom__left__inner .contact a:nth-child(3) {
  font-size: 23px;
  margin-top: 10px;
  text-decoration: none;
}
.main .screen__fourth__location__bottom__left__inner .email {
  width: 100%;
  height: 40px;
  letter-spacing: 1.5px;
}
.main .screen__fourth__location__bottom__left__inner .address {
  position: relative;
  width: 100%;
  height: 200px;
}
.main .screen__fourth__location__bottom__left__inner .address p {
  padding-top: 38px;
}
.main .screen__fourth__location__bottom__left__inner .address a {
  font-size: 23px;
  position: absolute;
  top: 38%;
  line-height: 33px;
}
.main .screen__fourth__location__bottom__right {
  width: 982px;
  height: 483px;
  position: absolute;
  right: 3.8%;
  top: 5.3%;
  background-image: url("/images/photos/Прямоугольник 19.png");
}
.main .footer {
  color: #fff;
  width: 100vw;
  height: 592px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.9fr 0.6fr;
  grid-auto-rows: 540px;
  grid-gap: 10px;
}
.main .footer .item {
  padding-left: 10px;
  margin-top: 125px;
}
.main .footer .one {
  display: flex;
  flex-direction: column;
}
.main .footer .one h2 {
  font-family: "Playfair Display SC";
  margin: 11px 40px;
  font-size: 59px;
  line-height: 65px;
}
.main .footer .one h3 {
  font-size: 34px;
  margin-top: 30px;
  margin-left: 40px;
  font-family: "Playfair Display SC";
}
.main .footer .one p {
  color: grey;
  font-family: "Gilroy";
  font-size: 23px;
  margin-left: 40px;
  margin-top: 17px;
}
.main .footer .two .icons {
  width: 209, 59px;
  height: 25, 24px;
  margin-top: 256px;
  margin-left: 29.5px;
  display: flex;
  align-items: center;
}
.main .footer .two img {
  margin: 0px 5.7px;
}
.main .footer .two p {
  font-size: 23px;
  font-family: Gilroy;
  margin-top: 29px;
  margin-left: 34px;
  color: grey;
}
.main .footer .three {
  position: relative;
}
.main .footer .three__inner {
  width: 70%;
  height: 250px;
  position: absolute;
  right: 4%;
  margin-top: 10px;
  text-align: right;
  flex-wrap: wrap;
}
.main .footer .three__inner p {
  font-size: 18px;
  font-family: "Gilroy";
  margin: 16px 0px;
  color: grey;
}
.main .footer .three__inner p:nth-child(1) {
  margin-top: 0.5px;
}
.main .footer .four {
  position: relative;
}
.main .footer .four__inner {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: Gilroy;
  position: absolute;
  margin-left: 42px;
}
.main .footer .four__inner a {
  color: #fff;
  text-decoration: none;
  margin: 7.3px 0px;
  text-align: right;
}/*# sourceMappingURL=index.css.map */