* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "gilroy";
    src: url(/fonts/GILROY-BOLD.TTF);
}

@font-face {
    font-family: "Gilroy reg italic";
    src: url(/fonts/GILROY-REGULARITALIC.TTF);
}

@font-face {
    font-family: "Gilroythin";
    src: url(/fonts/GILROY-THIN.TTF);
}

@font-face {
    font-family: "GilroYMED";
    src: url(/fonts/GILROY-MEDIUM.TTF);
}

@font-face {
    font-family: "phone";
    src: url(/fonts/fa-solid-900.ttf);
}
@font-face {
    font-family: "Gilroymedit";
    src: url(/fonts/GILROY-MEDIUMITALIC.TTF);
}

body {
    margin: 0 auto;
    max-width: 560px;
    width: 100%;

}

.header {
    width: 100%;
    height: 81px;
    background-color:rgba(0, 0, 0,.95);
    color: #fff;

    // position: absolute;
    &__top {
        display: flex;
        flex-direction: raw;
        align-items: center;
        justify-content: space-between;

        &__left {
            width: 200px;
            height: 35px;
            // background-color: aqua;
            font-family: "gilroy";
            // color: red;
            margin-top: 19px;
            margin-left: 28.6px;

            p {
                font-size: 30px;
            }
        }

        &__right {
            display: flex;
            width: 111px;
            height: 30px;
            margin-right: 25px;
            margin-top: 19px;
            // background-color: aquamarine;
            align-items: center;
            padding-top: 5px;
            justify-content: space-between;

            span {
                font-size: 20px;
                font-family: "Gilroy reg italic";
                // color: RED;
            }

            img {
                width: 35px;
                height: 15px;
            }
        }
    }
}

main {

    .screen__one {
        width: 100%;
        height: 1070px;
        background-image: url("/images/photos/Прямоугольник\ 493.png");
        background-position-y: -78px;
        background-size: cover;
        align-items: center;
        padding-top: 133px;
        padding-left: 35px;
        position: relative;

        &__background {
            width: 93%;
            height: 599px;
            background-image: url("/images/icons/Сгруппировать\ 1489.png");
            // background-color: blue;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            background-size: cover;
            align-items: center;
            justify-content: center;

            .logo {
                width: 90%;
                height: 100px;
                // background-color: red;
                margin-top: 90px;

                img {
                    width: 100%;
                }

                img:last-child {
                    width: 35%;
                    margin: 9px 144px;
                }
            }
        }

        &__bottom {
            position: absolute;
            width: 100%;
            height: 100px;
            // background-color: aquamarine;
            display: flex;
            justify-content: space-between;
            bottom: 0;
            left: 0;

            &__left {
                position: relative;
                margin-left: 27px;
                margin-top: 8px;
                color: #fff;

                p {
                    font-family: "Gilroy reg italic";
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 0.2px;
                }

                h3 {
                    margin-top: 7px;
                    font-size: 25px;
                    letter-spacing: 0.4px;
                    font-family: Roboto;
                }
            }

            .img {
                width: 100px;
                height: 85px;
                // background-color: black;
                background-image: url("/images/icons/Сгруппировать\ 1471.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 15px;


            }
        }
    }

    .screen__two {
        height: 850px;

        // background-color:#1E1E1E;
        &__number {
            height: 63.5%;

            position: relative;

            &__right {
                position: absolute;
                width: 67.5%;
                height: 100%;
                background-color: #1E1E1E;
                right: 0;
                z-index: -1;
            }

            &__inner {
                position: absolute;
                width: 32.5%;
                height: 100%;
                background-color: #383126;
                background-image: url("/images/icons/Вычитание\ 2.png");
                background-position-x: -67px;
                background-position-y: 165.5px;
                background-repeat: no-repeat;
                background-size: 253px;
                position: abosolute;
                z-index: -1;
            }

            &__top {
                width: 100%;
                height: 50%;
                z-index: 20;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #fff;

                .studio {
                    margin-bottom: 13px;

                    p,
                    h3 {
                        font-family: "gilroy";

                    }

                    p {
                        margin-bottom: 8px;
                        font-size: 19px;
                        margin-left: 26.5px;
                    }

                    h3 {
                        color: #CD9966;
                        font-size: 31px;
                        margin-left: 25.4px;
                    }

                }
            }

            &__text {
                color: grey;
                padding: 23.5px;
                padding-top: 17px;

                p {
                    font-size: 20px;
                    font-family: "gilroy";
                }
            }
        }

        &__img {
            width: 100%;
            height: 36.5%;

            background-image: url("/images/photos/Прямоугольник\ 8.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    .screen__three {
        width: 100%;
        height: 136.5vh;
        background-color: black;

        &__top {
            width: 80.9%;
            height: 800px;
            // background-color: blue;
            display: flex;
            flex-direction: column;
            margin: auto;
            padding-top: 65.6px;
            position: relative;
            color: #fff;

            .item {

                width: 100%;
                height: 200px;

                // margin: auto;

                font-family: gilroy;

                h3 {
                    color: #E3A567;
                    font-weight: 100;
                    font-size: 24px;
                    margin-left: 120px;
                }

            }

            .intelectual__property {

                // background-color: rgb(4, 238, 238);
                img {
                    top: 6.5%;
                    position: absolute;
                    margin-left: 203px;
                    width: 55px;
                    height: 23px;
                }

                h3 {
                    margin-top: 23px;
                }

                p {
                    line-height: 22.3px;
                    font-size: 18.5px;
                    margin-top: 13px;

                    span {
                        margin-left: 14.9px;
                    }

                    span:first-child {
                        margin: 8px;
                    }

                    span:nth-child(2) {
                        margin-left: 20px;
                    }

                    span:nth-child(3) {
                        margin-left: 25px;
                    }

                    span:nth-child(4) {
                        margin-left: 1px;
                    }

                    span:nth-child(5) {
                        margin-left: 8px;
                    }
                }
            }

            .pro {
                img {
                    position: absolute;
                    margin-top: 14px;
                    margin-left: 210px;
                    width: 35px;
                    height: 35px;
                }

                h3 {
                    margin-top: 65px;
                    margin-left: 80px;
                }

                p {
                    line-height: 22.3px;
                    font-size: 18.5px;
                    margin-top: 13px;

                    span {
                        margin-left: 14.9px;
                    }

                    span:first-child {
                        margin: 8px;
                    }

                    span:nth-child(2) {
                        margin-left: 20px;
                    }

                    span:nth-child(3) {
                        margin-left: 25px;
                    }

                    span:nth-child(4) {
                        margin-left: 1px;
                    }

                    span:nth-child(5) {
                        margin-left: 8px;
                    }
                }

            }

            .realization {
                img {
                    top: 63%;
                    position: absolute;
                    margin-top: 14px;
                    margin-left: 210px;
                    width: 35px;
                    height: 45px;
                }

                h3 {
                    margin-top: 110px;
                    margin-left: 120px;
                }

                p {
                    line-height: 22.3px;
                    font-size: 18.5px;
                    margin-top: 13px;

                    span {
                        margin-left: 14.9px;
                    }

                    span:first-child {
                        margin: 8px;
                    }

                    span:nth-child(2) {
                        margin-left: 20px;
                    }

                    span:nth-child(3) {
                        margin-left: 25px;
                    }

                    span:nth-child(4) {
                        margin-left: 1px;
                    }

                    span:nth-child(5) {
                        margin-left: 8px;
                    }
                }
            }
        }

        &__bottom {
            width: 100%;
            height: 500px;
            // background-color: orchid;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            .numbers {
                display: flex;
                justify-content: center;

                width: 70%;
                height: 200px;
                background-color: black;
                color: #fff;

                span {
                    margin-left: 47px;
                    font-size: 19px;
                    margin-top: 7px;
                }

                img {
                    width: 70px;
                    height: 50px;
                    margin: 8px;
                }

                font-family: "Gilroy reg italic";
            }

            .seven {
                img {
                    width: 80px;
                    height: 50px;
                    margin: 8px;
                }

                span {
                    margin-left: 35px;
                    margin-top: 7px;
                    line-height: 22px;
                }
            }

            .nine {
                img {
                    width: 90px;
                    height: 52px;
                    margin: 19px 8px;
                }

                span {
                    margin-left: 27px;
                    margin-top: 19px;
                    line-height: 22px;
                }
            }

            button {
                margin-top: 10px;
                height: 114px;
                width: 90%;
                margin-bottom: 45px;
                font-family: gilroy;
                font-size: 20.5px;
                color: #fff;
                background-color: #E3A567;
                border-radius: 5px;
                outline: none;
                border: none;

            }
        }
    }

    .screen__four {
        width: 100%;
        height: 129.5vh;

        position: relative;



        .images {
            width: 100%;
            height: 315.5px;
            display: flex;

            // justify-content: center;
            // flex-direction: column;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color: #fff;

            .text {
                color: #fff;
                width: 65%;
                height: 100px;
                // background-color: royalblue;
                margin: auto;
                color: #000;
                font-family: gilroy;

            }

            .first {
                margin-top: 100px;
                color: #fff;
            }


            h2 {
                font-size: 30px;
                margin-top: 25px;
                margin-left: 19px;
            }

            p {
                font-size: 18.2px;
                margin-top: 2px;

            }

            .second {
                color: #fff;
                margin-top: 114px;
                // background-color: red;

                h3 {
                    font-size: 30.3px;
                    margin-top: 10px;
                    margin-left: 10px;
                }

                p {
                    font-size: 18.2px;
                    margin-top: 2px;

                }
            }

            .third {
                color: #fff;
                width: 75%;

                margin-top: 99px;
                // background-color: red;

                h3 {
                    font-size: 30px;
                    margin-top: 25px;
                    margin-left: 14.8px;
                }

                p {
                    font-size: 18.2px;
                    margin-top: 2px;
                    margin-left: 27PX;
                }
            }
        }

        .first1 {
            background-image: url("/images/photos/slider_bolshevik-2.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;


        }

        .zones {
            background-image: url("/images/photos/slider_bolshevik-1.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .projects {
            background-image: url("/images/photos/slider_bolshevik.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about {
            height: 290px;

            display: flex;
            position: relative;
            font-family: gilroy;
            display: flex;

            .about__text1 {
                width: 100%;
                margin-left: 15px;
                margin-top: 180px;

                p,
                h3 {
                    line-height: 38px;
                }

                p {
                    font-size: 19px;
                    font-family: "GilroYMED";
                    color: white;
                    margin-left: 10PX;
                }

                h3 {
                    font-family: "GilroYMED";
                    font-size: 30px;
                    color: white;
                    margin-left: 13px;
                    letter-spacing: 0.7px;
                    color: #E3A567;
                }

            }

            .inner {
                overflow: hidden;
                position: absolute;
                width: 33%;
                height: 100%;
                background-color: #383126;
                background-image: url("/images/photos/Вычитание\ 4.png");
                background-position-x: -67px;
                background-position-y: 165.5px;
                background-repeat: no-repeat;
                background-size: 253px;
                position: abosolute;
                z-index: -1;
            }

            .right {
                position: absolute;
                width: 67%;
                height: 100%;
                background-color: #1E1E1E;
                right: 0;
                z-index: -1;
            }
        }
    }

    .screen__five__button {
        width: 100%;
        height: 210px;
        display: flex;
        background-color: black;

        button {
            margin: auto;
            margin-top: 40px;
            width: 90%;
            height: 60px;
            outline: none;
            border: none;
            font-size: 21px;
            font-family: gilroy;
            align-items: center;
            border: 2.5px solid#E3A567;
            border-radius: 5px;
            color: #E3A567;
            background-color: transparent;


        }
    }

    .screen__five {
        position: relative;
        color: #FFF;
        z-index: 1;
        .dark {
            position: absolute;

            background-color: rgba(0, 0, 0,.5);
            height: 94.5vh;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
          z-index: -1;
            color: #fff;
        }
        
        width: 100%;
        height: 94.5vh;
        // background-color: red;
        display: flex;
        flex-direction: column;
        background-image: url("/images/photos/Прямоугольник\ 516.png");
        background-repeat: no-repeat;
        background-size: center;
        background-size: cover;
       
        &__unique-design {
            margin-top: 130px;
            width: 100%;
            height: 200px;
            // background-color: blue;
            display: flex;
            flex-direction: column;

            p:nth-child(1) {
                font-family: "GilroyMED";
                color: #E3A567;
                font-size: 18.5px;
                margin-top: 33px;
                margin-left: 26px;

            }

            p:nth-child(2) {
                font-family: gilroy;
                margin-top: 5.5px;
                margin-left: 27px;
                font-size: 22.5px;
                letter-spacing: 0.9px;


            }
        }

        .form {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0px auto;
            color: #fff;

            input {
                height: 80px;
                background: transparent;
                border: none;
                border-bottom: 2px solid #fff;
                font-size: 24.5px;
                font-family: gilroy;
                padding-top: 27px;
                color: #fff;
            }

            input:nth-child(3) {
                height: 80px;
                background: transparent;
                border: none;
                border-bottom: 2px solid #fff;
                font-size: 24.5px;
                font-family: gilroy;
                padding-top: 10px;
            }

            input:nth-child(2) {
                height: 80px;
                background: transparent;
                border: none;
                border-bottom: 2px solid #fff;
                font-size: 24.5px;
                font-family: gilroy;
                padding-top: 22px;
            }

            .btn {
                height: 65px;
                margin-top: 30px;
                border: 1px solid #E3A567;
                background-color: #E3A567;
                border-radius: 5px;
                font-size: 20px;
                color: #fff;
            }
        }

        .agreement {
            margin-top: 30px;
            color: grey;
            font-family: "Gilroy reg italic";
            font-size: 19px;
            margin-left: 25px;
        }
    }

    .screen__six__iphone {
        width: 100%;
        height: 64vh;
        background-color: black;
        padding-top: 100px;

        .iphone {
            width: 90%;
            height: 81%;
            background-image: url("/images/photos/Сгруппировать\ 1189.png");
            // background-color:blue;
            background-repeat: no-repeat;
            background-position-y: 10px;
            background-size: cover;
            margin: auto;
        }
    }

    .screen__six {
        .screen__six__socials {
            width: 100%;
            height: 225px;
            background-color: black;
            border-bottom: 2px solid rgba(255, 255, 255, .3);
            color: #fff;

            p {
                font-size: 24px;
                font-family: "Gilroy reg italic";
                padding-left: 26px;
                padding-top: 6px;

            }

            &__bottom {
                color: grey;

                p {
                    margin-top: 20px;
                    font-size: 18.5px;
                }

                &__icons {
                    align-items: center;
                    display: flex;

                    margin-top: 20px;
                    margin-left: 26px;

                    img {
                        width: 30px;
                        margin-right: 29px;
                    }

                    img:nth-child(5) {
                        width: 30px;
                        margin-right: 20px;
                    }
                }
            }
        }

        &__contacts {
            width: 100%;
            background-color: black;
            height: 243px;
            padding-top: 40px;
            border-bottom: 2px solid rgba(255, 255, 255, .3);

            &__inner {
                width: 250px;
                // background-color: blue;
                height: 80%;
                margin-left: 26px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .huge {
                    color: #fff;
                    margin-top: 5px;
                    font-family: gilroy;
                    font-size: 24.5px;

                }

                .contacts1 {
                    font-family: "Gilroymedit";
                    height: 63%;
                    font-size: 20PX;


                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        
                        font-size: 19px;
                        color: grey;
                    }

                    p:nth-child(3) {
                        font-size: 19px;
                        margin-left: 4px;
                        margin-bottom: 2px;
                    }

                    P::before {
                        content: '\f095';
                        font-family: "phone";
                        margin-right: 20px;
                    }

                    P:nth-child(2):before {
                        content: '\f0e0';
                        font-family: "phone";
                        margin-right: 20px;
                    }

                    P:nth-child(3):before {
                        content: '\f3c5';
                        font-family: "phone";
                        margin-right: 20px;
                    }
                }
            }

        }

        &__form {
            color: #fff;
            width: 100%;
            background-color: black;
            height: 45vh;

            padding: 40px 26px;

            p {
                font-family: gilroy;
                font-size: 24.5px;

            }

            .form {
                
                input {
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid rgba(255, 255, 255, .3);
                    width: 100%;
                    height: 65px;
                    font-family: "Gilroy reg italic";
                    font-weight: 800;
                    font-size: 19px;
                    padding-top: 20px;
                    color: #fff;
                }

                input:nth-child(2) {
                    width: 100%;
                    height: 76px;
                    padding-top: 25px;
                }

                input:nth-child(3) {
                    width: 100%;
                    height: 76px;
                    padding-top: 25px;

                }

                .btn1 {
                    padding-top: 15px;
                    width: 100%;
                    height: 70px;
                    margin-top: 30px;
                    border: 1px solid #E3A567;
                    background-color: #fff;
                    border-radius: 5px;
                    padding-bottom: 10px;
                    font-size: 19px;
                    font-family: "GilroYMED";
                    color: #000;
                    align-items: center;
                }
            }
        }

    }

    .footer {
        width: 100%;
        height: 160px;
        background-color: black;
      
        padding-top: 33px;
        column-rule: #fff;

        .icons {
            width: 250px;
            height: 40px;

            margin: auto;
            display: flex;
            align-items: center;
            padding-left: 16px;

            img {
                width: 20px;
                margin: 0px 6px;
                margin-right: 11.2px;
            }
        }

        p {
            color: #fff;
            font-size: 18.8px;
            font-family: gilroy;
            margin-top: 10px;
            margin-left: 50px;
        }
    }


}