@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Playfair";
  src: url(/fonts/PlayfairDisplaySC-Black.ttf);
}
@font-face {
  font-family: "gilroy1";
  src: url(/fonts/GILROY-REGULAR.TTF);
}
@font-face {
  font-family: "gilroy";
  src: url(/fonts/GILROY-BLACK.TTF);
}
@font-face {
  font-family: "gilroymed";
  src: url(/fonts/GILROY-MEDIUM.TTF);
}
@font-face {
  font-family: "gilroyTHIN";
  src: url(/fonts/GILROY-THIN.TTF);
}
.header {
  position: absolute;
  font-family: "Gilroy";
  width: 100%;
  height: 250px;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: raw;
  color: #fff;
  z-index: 1;
}
.header__left {
  padding-left: 20px;
  width: 350px;
  height: 209.9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__left img {
  width: 250px;
  margin-top: 5px;
}
.header__left .about {
  margin-left: 2px;
}
.header__left .about p {
  font-family: "Gilroy";
  font-size: 18px;
  margin: 9px 0px;
}
.header__right {
  width: 300px;
  display: flex;
  position: relative;
  justify-content: space-between;
  position: relative;
  margin-right: 100px;
}
.header__right .menu {
  position: absolute;
  right: 1.4%;
  top: 2%;
}
.header__right .menu h3 {
  font-size: 20px;
}
.header__right .button {
  width: 19px;
  height: 2px;
  background-color: orange;
  position: absolute;
  right: 26.6%;
  top: 6%;
}
.header__right .button span {
  width: 22px;
  height: 2.7px;
  background-color: orange;
  border: none;
}
.header__right .button span::before {
  content: "";
  width: 100%;
  height: 2.7px;
  background-color: orange;
  display: block;
  position: absolute;
  top: 250%;
}
.header__right .contacts {
  position: absolute;
  bottom: 58%;
  right: 1.7%;
}
.header__right .contacts p:first-child {
  font-size: 29px;
  position: relative;
}
.header__right .contacts p:last-child {
  position: absolute;
  right: 1.7%;
  font-size: 14px;
  top: 108%;
}

.main .screen__one {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.main .screen__one .left {
  width: 50%;
}
.main .screen__one .left__inner {
  width: 35%;
  height: 350px;
  margin: 150px auto;
  margin-right: 400px;
  margin-top: 225px;
}
.main .screen__one .left__inner p {
  font-size: 38px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.main .screen__one .left__inner h1 {
  color: #EFB256;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair";
  font-size: 110px;
  line-height: 100px;
}
.main .screen__one .left button {
  width: 336px;
  height: 78px;
  margin-left: 240px;
  position: absolute;
  top: 63%;
  padding-top: 9px;
  font-size: 22px;
  background-color: #EFB256;
  color: #fff;
  border: none;
}
.main .screen__one .left button:active {
  transform: scale(0.98);
}
.main .screen__one .right {
  width: 50%;
}
.main .screen__one .right .picture {
  position: absolute;
  width: 978px;
  height: 580px;
  background-image: url("/images/photos/Прямоугольник 111.png");
  left: 39.9%;
  top: 17%;
}
.main .screen__two {
  width: 100%;
  height: 123vh;
}
.main .screen__two .top {
  width: 100%;
  display: flex;
  flex-direction: raw;
  height: 85px;
  align-items: center;
  padding-left: 180px;
  font-family: gilroy;
}
.main .screen__two .top .item {
  width: 183px;
  height: 55px;
  background-color: rgba(125, 125, 125, 0.2);
  border-radius: 50px;
  margin: 0px 10px;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: rgba(125, 125, 125, 0.9);
  font-family: "gilroyMED";
  font-weight: 400;
  font-size: 17PX;
}
.main .screen__two .top .active {
  font-weight: 600;
  color: black;
}
.main .screen__two .top .unactive {
  font-weight: 0px;
  color: initial;
}
.main .screen__two .top .filter p {
  font-size: 17px;
  font-family: gilroyMED;
  margin-right: 20px;
}
.main .screen__two .top .item:active {
  transform: scale(0.98);
}
.main .screen__two .projects {
  background-image: url("/images/icons/Сгруппировать 1635.png");
  width: 100%;
  height: 100vh;
  padding-top: 130px;
}
.main .screen__two .projects__inner {
  margin: auto;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 295px 295px 295px;
  grid-gap: 30px;
}
.main .screen__two .projects__inner .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .screen__two .load {
  display: flex;
  justify-content: center;
  margin: 99px auto;
  padding-left: 30PX;
}
.main .screen__two .load a {
  font-size: 19px;
  color: #EFB256;
  font-family: "gilroymed";
}

.footer {
  margin-top: 255px;
  color: #fff;
  width: 100vw;
  height: 592px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.9fr 0.6fr;
  grid-auto-rows: 540px;
  grid-gap: 10px;
}
.footer .item {
  padding-left: 10px;
  margin-top: 125px;
}
.footer .one {
  display: flex;
  flex-direction: column;
}
.footer .one h2 {
  font-family: "Playfair Display SC";
  margin: 11px 40px;
  font-size: 59px;
  line-height: 65px;
}
.footer .one h3 {
  font-size: 34px;
  margin-top: 30px;
  margin-left: 40px;
  font-family: "Playfair Display SC";
}
.footer .one p {
  color: grey;
  font-family: "Gilroy";
  font-size: 23px;
  margin-left: 40px;
  margin-top: 17px;
}
.footer .two .icons {
  width: 209, 59px;
  height: 25, 24px;
  margin-top: 256px;
  margin-left: 29.5px;
  display: flex;
  align-items: center;
}
.footer .two img {
  margin: 0px 5.7px;
}
.footer .two p {
  font-size: 23px;
  font-family: Gilroy;
  margin-top: 29px;
  margin-left: 34px;
  color: grey;
}
.footer .three {
  position: relative;
}
.footer .three__inner {
  width: 70%;
  height: 250px;
  position: absolute;
  right: 4%;
  margin-top: 10px;
  text-align: right;
  flex-wrap: wrap;
}
.footer .three__inner p {
  font-size: 18px;
  font-family: "Gilroy";
  margin: 16px 0px;
  color: grey;
}
.footer .three__inner p:nth-child(1) {
  margin-top: 0.5px;
}
.footer .four {
  position: relative;
}
.footer .four__inner {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: Gilroy;
  position: absolute;
  margin-left: 42px;
}
.footer .four__inner a {
  color: #fff;
  text-decoration: none;
  margin: 7.3px 0px;
  text-align: right;
}/*# sourceMappingURL=arch.css.map */